<!doctype html>

<html>
  <head> 
  <meta charset="UTF-8">
  <title>Hospital Reservation System Homepage</title> 
  <link rel="stylesheet" type="text/css" href="web.css"> 
  </head> 
  
  <body>
     <h1><div id="box"><div id="leftbox"><div id="h1"><strong>HRS</strong>
         </div>
         <div id="table">
         <table>
          <tr>
              <td>Homepage</td>
          </tr>
             <tr>
             <td>Make appointment</td>
             </tr>
             <tr>
             <td>My appointment</td>
             </tr>
             <tr>
              <td>Setting</td>
             </tr>
         </table></div>
         <div id="h2"><input type="button" value="Log out"></div>
         
         </div>
         
         <div id="rightbox" >Search
            
           <div id="text">Select Doctor<br>
               <input type="text" width="50" height="20" placeholder="Available Doctor">
               <select id="Doctor" name="Doctor">
               </select>
             <br>
               <div id="text">Select Time<br>
               <input type="text" width="50" height="20" placeholder="Available Time">
                   <select id="Time" name="Time">
               </select>
                   <br>
                   <input type="button" value="Make appointment">
            </div>
         </div>
         
        </div>
      </h1>
  </body>
</html>