<!doctype html>

<html>
  <head> 
  <meta charset="UTF-8">
  <title>Make Appoinment</title> 
  <link rel="stylesheet" type="text/css" href="web.css"> 
  </head> 
  
  <body>
     <h1><div id="box"><div id="leftbox"><div id="h1"><strong>HRS</strong>
         </div>
         <div id="table">
         <table>
          <tr>
              <td><a href="Homepage.html">Homepage</a></td>
          </tr>
             <tr>
                 <td><a href="Make%20appoinment.html">Make appointment</a></td>
             </tr>
             <tr>
                 <td><a href="My%20appoinment.html">My appointment</a></td>
             </tr>
             <tr>
                 <td><a href="Setting.html">Setting</a></td>
             </tr>
         </table></div>
         <div id="h2"><input type="button" value="Log out"></div>
         
         </div>
         <div id="right" >Make appoinment
             <div id="text"><br><br><div id="h3">Select Doctor</div><input type="text" placeholder="Available Doctor"><select id="Doctor" name="Doctor"></select>
               <br>
               <div id="h3">Select Time</div><input type="text" placeholder="Available Time"><select id="Time" name="Time"></select>
               <br>
               </div>
         </div>
         
        </div>
      </h1>
  </body>
</html>