<!doctype html>

<html>
  <head> 
  <meta charset="UTF-8">
  <title>Make Appoinment</title> 
  <link rel="stylesheet" type="text/css" href="web.css"> 
  </head> 
  
  <body>
    <h1><div class="box"><div class="leftbox"><div class="h1"><strong>HRS</strong>
         </div>
         <div class="table">
         <table>
          <tr>
              <td><a href="Homepage.jsp">Homepage</a></td>
          </tr>
             <tr>
                 <td><a href="Makeappointment.html">Make appointment</a></td>
             </tr>
             <tr>
                 <td><a href="Myappointment.html">My appointment</a></td>
             </tr>
             <tr>
                 <td><a href="Profile.jsp">Setting</a></td>
             </tr>
         </table></div>
                <br>
         <div class="h2"><button id="logout" class="LogOutBt">Log out</button></div>
         
         </div>
         <div class="right" >
             <div class="boxleft">Booking Now
                 <div class="text"><br><br><div id="h3"><a href="Makeappointment1.html">Select Department</a></div>
               <br>
                     <div class="h3"><a href="Makeappointment.html">Select Doctor</a></div>
               <br>
                 <div class="h3">Select Time</div>
             </div></div>
             <div class="boxright"><div class="sbox"><div class="txt1">
                 <div class="card"><div class="column3"><img src="qp.jpeg" alt="qp" style="width:100%"></div><div class="container" >
                 <div class="column4">
                     <div class="h4" ><br><p>Shan Wilson</p></div></div>
                     </div></div><div class="txt2"><div class="h5"><div class="popup" onclick="myFunction()">Show Doctor Information<span class="popuptext" id="myPopup">SADshagd ashjh LS  fhieu dsf sdadasdada
                  sadasdada</span></div>
                 <script>
                 function myFunction(){
                     var popup = document.getElementById("myPopup");
                     popup.classList.toggle("show");
                 }</script>
                     </div></div></div></div>
                 <br>
                 <div  class="sbox1"><div class="txt1">
                 <div class="card"><div class="column3"><img src="as.jpeg" alt="qp" style="width:100%"></div><div class="container" >
                 <div class="column4">
                     <div class="h4" ><br><p>Petter pianapple</p></div></div>
                     </div></div><div class="txt2"><div class="h5"><div class="popup" onclick="myFunctiona()">Show Doctor Information<span class="popuptext" id="myPopups">asas Li Bei Lei 大坏蛋大笨猪 猪猪猪猪 猪猪猪 猪猪猪</span></div>
                 <script>
                 function myFunctiona(){
                     var popup = document.getElementById("myPopups");
                     popup.classList.toggle("show");
                 }</script>
                     </div></div></div></div>
                 <br>
                 <div class="sbox2"><div class="txt1">
                 <div class="card"><div class="column3"><img src="ss.jpeg" alt="qp" style="width:100%"></div><div class="container" >
                 <div class="column4">
                     <div class="h4" ><br><p>Ko Lisdwa</p></div></div>
                     </div></div><div class="txt2"><div class="h5"><div class="popup" onclick="myFunctions()">Show Doctor Information<span class="popuptext" id="myPopupx">adadada as ada   ada dad   dffffaa a asdadadadada
                  sadasdada</span></div>
                 <script>
                 function myFunctions(){
                     var popup = document.getElementById("myPopupx");
                     popup.classList.toggle("show");
                 }</script>
                     </div></div></div></div>
                 
             </div>
             
         </div>
         
        </div>
      </h1>
  </body>
</html>