<!doctype html>

<html>
  <head> 
  <meta charset="UTF-8">
  <title>Make Appoinment</title> 
  <link rel="stylesheet" type="text/css" href="web.css"> 
  </head> 
  
  <body>
     <h1><div class="box"><div class="leftbox"><div class="h1"><strong>HRS</strong>
         </div>
         <div class="table">
         <table>
          <tr>
              <td><a href="Homepage.jsp">Homepage</a></td>
          </tr>
             <tr>
                 <td><a href="Makeappointment.html">Make appointment</a></td>
             </tr>
             <tr>
                 <td><a href="Myappointment.html">My appointment</a></td>
             </tr>
             <tr>
                 <td><a href="Profile.jsp">Setting</a></td>
             </tr>
         </table></div>
        <div class="h2"><button class="LogOutBt">Log out</button></div>
         
         </div>
         <div class="right" >
             <div class="boxleft">Booking Now
                 <div class="text"><br><br><div id="h3"><a href="Makeappointment1.html">Select Department</a></div>
               <br>
               <div class="h3"><a href="Makeappointment2.html">Select Doctor</a></div>
               <br>
                 <div class="h3">Select Time</div>
             </div></div>
             <div class="boxright">
             <div class="h4">Department 1</div><br>
                 <div class="h4">Department 2</div><br>
                 <div class="h4">Department 3</div><br>
                 <div class="h4">Department 4</div><br>
                 <div class="h4">Department 5</div><br>
                 <div class="h4">Department 6</div>
             </div>
         </div>
         
        </div>
      </h1>
  </body>
</html>