<!doctype html>

<html>
  <head> 
  <meta charset="UTF-8">
  <title>Make Appoinment</title> 
  <link rel="stylesheet" type="text/css" href="web.css"> 
  </head> 
  
  <body>
     <h1><div id="box"><div id="leftbox"><div id="h1"><strong>HRS</strong>
         </div>
         <div id="table">
         <table>
          <tr>
              <td><a href="Homepage.jsp">Homepage</a></td>
          </tr>
             <tr>
                 <td><a href="Make appointment.html">Make appointment</a></td>
             </tr>
             <tr>
                 <td><a href="My appointment.html">My appointment</a></td>
             </tr>
             <tr>
                 <td><a href="Setting.html">Setting</a></td>
             </tr>
         </table></div>
         <div id="h2"><input type="button" value="Log out"></div>
         
         </div>
         <div id="right" >
             <div id="boxleft">Booking Now
             <div id="text"><br><br><div id="h3">Select Department</div>
               <br>
               <div id="h3">Select Doctor</div>
               <br>
                 <div id="h3">Select Time</div>
             </div></div>
             <div id="boxright">
             <div id="h4">Department 1</div><br>
                 <div id="h4">Department 2</div><br>
                 <div id="h4">Department 3</div><br>
                 <div id="h4">Department 4</div><br>
                 <div id="h4">Department 5</div><br>
                 <div id="h4">Department 6</div>
             </div>
         </div>
         
        </div>
      </h1>
  </body>
</html>