<!doctype html>

<html>
  <head> 
  <meta charset="UTF-8">
  <title>My Appoinment</title> 
  <link rel="stylesheet" type="text/css" href="web.css"> 
  </head> 
  
  <body>
     <h1><div id="box"><div id="leftbox"><div id="h1"><strong>HRS</strong>
         </div>
         <div id="table">
         <table>
          <tr>
              <td><a href="Homepage.jsp">Homepage</a></td>
          </tr>
             <tr>
                 <td><a href="Make appointment.html">Make appointment</a></td>
             </tr>
             <tr>
                 <td><a href="My appoinment.html">My appointment</a></td>
             </tr>
             <tr>
                 <td><a href="Setting.html">Setting</a></td>
             </tr>
         </table></div>
         <div id="h2"><input type="button" value="Log out"></div>
         
         </div>
         <div id="right" >My appoinment
           <div id="text"><input type="text"  placeholder="Appoinment1            Doctor             Data&Time" style="height: 30px; width: 400px;">
               <br>
               <input type="text" width="50" height="20" value="Appoinment 2" style="height: 30px;"><input type="text" value="Doctor" style="height: 30px;"><input type="text" value="Data&Time" style="height: 30px;">
             <br>
               <input type="text" width="50" height="20" value="Appoinment 3" style="height: 30px;"><input type="text" value="Doctor" style="height: 30px;"><input type="text" value="Data&Time" style="height: 30px;">
               <br>
               <input type="text" width="50" height="20" value="Appoinment 4" style="height: 30px;"><input type="text" value="Doctor" style="height: 30px;"><input type="text" value="Data&Time" style="height: 30px;">
               <br>
               </div>
         </div>
         
        </div>
      </h1>
  </body>
</html>