<!doctype html>

<html>
  <head> 
  <meta charset="UTF-8">
  <title>My Appoinment</title> 
  <link rel="stylesheet" type="text/css" href="web.css"> 
  </head> 
  
  <body>
     <h1><div id="box"><div id="leftbox"><div id="h1"><strong>HRS</strong>
         </div>
         <div id="table">
         <table>
          <tr>
              <td><a href="Homepage.html">Homepage</a></td>
          </tr>
             <tr>
                 <td><a href="Make%20appoinment.html">Make appointment</a></td>
             </tr>
             <tr>
                 <td><a href="My%20appoinment.html">My appointment</a></td>
             </tr>
             <tr>
                 <td><a href="Setting.html">Setting</a></td>
             </tr>
         </table></div>
         <div id="h2"><input type="button" value="Log out"></div>
         
         </div>
         <div id="right" >My appoinment
           <div id="text"><input type="text"  placeholder="Appoinment 1"><span class="t2"><input type="text" width="50"  placeholder="Doctor"></span><input type="text" placeholder="Data&Time">
               <br>
               <input type="text" width="50" height="20" value="Appoinment 2"><input type="text" value="Doctor"><input type="text" value="Data&Time">
             <br>
               <input type="text" width="50" height="20" value="Appoinment 2"><input type="text" value="Doctor"><input type="text" value="Data&Time">
               <br>
               <input type="text" width="50" height="20" value="Appoinment 2"><input type="text" value="Doctor"><input type="text" value="Data&Time">
               <br>
               </div>
         </div>
         
        </div>
      </h1>
  </body>
</html>