<!doctype html>

<html>
  <head> 
  <meta charset="UTF-8">
  <title>My Appoinment</title> 
  <link rel="stylesheet" type="text/css" href="web.css"> 
  </head> 
  
  <body>
     <h1><div class="box"><div class="leftbox"><div class="h1"><strong>HRS</strong>
         </div>
         <div class="table">
         <table>
          <tr>
              <td><a href="Homepage.jsp">Homepage</a></td>
          </tr>
             <tr>
                 <td><a href="Makeappointment.html">Make appointment</a></td>
             </tr>
             <tr>
                 <td><a href="Myappointment.html">My appointment</a></td>
             </tr>
             <tr>
                 <td><a href="Profile.jsp">Setting</a></td>
             </tr>
         </table></div>
        <div class="h2"><button class="LogOutBt">Log out</button></div>
         
         </div>
         <div class="right" >My appoinment
           <div class="text"><input type="text"  placeholder="Appoinment1            Doctor             Data&Time" style="height: 30px; width: 400px;">
               <br>
               <input type="text" width="50" height="20" value="Appoinment 2" style="height: 30px;"><input type="text" value="Doctor" style="height: 30px;"><input type="text" value="Data&Time" style="height: 30px;">
             <br>
               <input type="text" width="50" height="20" value="Appoinment 3" style="height: 30px;"><input type="text" value="Doctor" style="height: 30px;"><input type="text" value="Data&Time" style="height: 30px;">
               <br>
               <input type="text" width="50" height="20" value="Appoinment 4" style="height: 30px;"><input type="text" value="Doctor" style="height: 30px;"><input type="text" value="Data&Time" style="height: 30px;">
               <br>
               </div>
         </div>
         
        </div>
      </h1>
  </body>
</html>