<!doctype html>

<html>
  <head> 
  <meta charset="UTF-8">
  <title>Hospital Reservation System Homepage</title> 
  <link rel="stylesheet" type="text/css" href="web.css"> 
  </head> 
  
  <body>
     <h1><div id="box"><div id="leftbox"><div id="h1"><strong>HRS</strong>
         </div>
         <div id="table">
         <table>
          <tr>
              <td><a href="Homepage.jsp">Homepage</a></td>
          </tr>
             <tr>
                 <td><a href="Make appointment.html">Make appointment</a></td>
             </tr>
             <tr>
                 <td><a href="My appointment.html">My appointment</a></td>
             </tr>
             <tr>
                 <td><a href="Setting.html">Setting</a></td>
             </tr>
         </table></div>
         <div id="h2"><input type="button" value="Log out"></div>
         
         </div>
         
         <div id="right" >Setting
            
             <div id="text"><div id="column"></div><div id="column"><div id="h3">First Name</div><input type="text" placeholder="Your First name" style="height: 30px;">
                 <div id="h3">Phone</div><input type="text" placeholder="000-000-0000" style="height: 30px;"></div>
                 <div id="column"><div id="h3">Last Name</div><input type="text" placeholder="Your Last name" style="height: 30px;">
                 <div id="h3">Phone alt</div><input type="text" placeholder="000-000-0000" style="height: 30px;">
                 </div>
                 <br>
                 <div id="column1"><div id="h3">Street address</div><input type="text" placeholder="Your street address" style="width: 350px; height: 30px;"></div>
                 <div id="column2">City<input type="text" placeholder="Sydney" style="height: 30px;"></div><div id="column2">State<input type="text" placeholder="NSW" style="height: 30px;"><select id="State" name="State" style="height: 30px;"></select></div>
                 <div id="column2">Zip<input type="text" style="height: 30px;"></div>
               
            </div>
             
         </div>
        </div>
      </h1>
  </body>
</html>