.box{
    position: relative;
    width: auto;
    height: auto;
    top: 50px;
    background-color:#5574F7;
    left: 70px;
}

.leftbox{
    width: 500px;
    height: 700px;
    position: absolute;
    color: white;
    left: auto;
    background-color: #5574F7;
}
.rightbox{
    width: 800px;
    height: 700px;
    position: absolute;
    color: whitesmoke;
    left: 500px;
    font-size: 170px;
    text-align: center;
    background-color: whitesmoke;
}
.right{
    width: 800px;
    height: 700px;
    position: absolute;
    left: 500px;
    color: #5574F7;
    text-align: center;
    font-size: 70px;
    background-color: whitesmoke;
    
}
.boxleft{
    background-color: whitesmoke;
    position: absolute;
    width: 400px;
    height: 700px;
    
}
.boxright{
    background-color: #5574F7;
    position: absolute;
    width: 400px;
    height: 700px;
    left: 400px;
    font-size: 60px;
}

.h1{
background-color:#5574F7;
    width: 500px;
    height: 150px;
 position: absolute;
    font-weight: bold;
    font-family: Georgia, serif;
    letter-spacing: 5px;
    font-size: 120px;
    color: white;
    text-align: center;
    line-height: 150px;
}
.h2{
    font-size: 300px;
    text-align: center;
}
.h3{
    font-size: 30px;
}
.h4{
 display: block;
 color: #FFFFFF;
 text-decoration: none;
 padding: 20px 16px;
 
}

.h4:hover{
 background-color: #FFFFFF;
 color: #5574F7
 
}

.h5{
    color: white;
    font-size: 25px;
    text-align: left;
    width: 400px;
}

.h6{
 display: block;
 color: #FFFFFF;
 text-decoration: none;
 padding: 20px 16px;
 font-size:30px;
}
.h6:hover{
 background-color: #FFFFFF;
 color: #5574F7
 
}
.table{
    width: auto;
    height: auto;
    position: relative;
    top: 210px;
    background-color: #5574F7;
    left: 210px;
}
.table tr:nth-child(even){background-color: #5574F7;}

.text{
    text-align: center;
    font-size: 40px;
    color: dimgray;
    background-color: whitesmoke;
    top: 250px;
    
}

.txt1{
    background-color: #5574F7;
    width: 400px;
    height: 150px;
}
.txt2{
    background-color: #5574F7;
    width: 400px;
    height: 40px;
    border: 0px dotted black;
    
}

.column{
    float: left;
    width: 25%;
    padding: 10px;
}
.column1{
    width: 50%;
    padding-left: 240px;
}
.column2{
    float: left;
    width: 32%;
    font-size: 25px;
}

.column3{
    float: left;
    width: 40%;
}
.column4{
    width: 60x;
    font-size: 20px;
}
.t2{
    text-align: center;
    top: 250px;
    display: inline;
    width: 200px;
    height: 100px;
    padding: 5px;
    border: 1px solid bule;
    background-color: yellow;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

td a {
    display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
}

td a.active {
    background-color: #4CAF50;
    color: white;
}

td a:hover:not(.active) {
    background-color: #7C9FF1;
    color: white;
}

.LogOutBt {
  background-color: white;
  border: none;
  color: #5574F7;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
}

.LogOutBt:hover {opacity: 1}

.SaveBt {
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-size: 18px;
    background-color: #5574F7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px; 
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    
}
.SaveBt:hover {
    background-color: #FFFFFF;
    color: #5574F7;
}

.sbox{
    background-color: #5574F7;
    position: absolute;
    width: 400px;
    height: 200px;
    font-size: 60px;
}
.sbox1{
    position: absolute;
    width: 400px;
    height: 200px;
    font-size: 60px;
    top: 200px;
}
.sbox2{
    position: absolute;
    width: 400px;
    height: 200px;
    font-size: 60px;
    top: 450px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}
.cardhover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.img{
    border-radius: 5px 5px 0 0;
}
.container{
   
}
.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-use-select:none;
    -moz-user-select:none;
    user-select:none;
}
.popup .popuptext{
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0%;
    margin-left: 80px;
}
.popup .popuptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.popup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to{opacity: 1;}
}

